.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #ffb5b5;
}
.weather-overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 12px;
  height: 70px;
  width: 70px;
}
.currentTemp {
  font-size: 64px;
  font-weight: 400px;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 20px;
  top: -32px;
}
.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature a {
  text-decoration: none;
}
.currentLoc {
  margin-top: 10px;
  font-size: 13px;
}
.align-right {
  text-align: right;
}
.currentTemp {
  color: #132743;
}
.currentLoc {
  background: #407088;
  border: #407088;
}
.searchButton {
  background: #407088;
  border: #407088;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.forecast-date {
  font-size: 16px;
  color: #132743;
}
.forecast-temp-max {
  font-size: 13px;
}
.forecast-temp-min {
  opacity: 0.4;
  font-size: 13px;
}
h1 {
  color: #407088;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-transform: capitalize;
  color: #132743;
}
p {
  text-align: center;
}
